# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: required
cache: packages
r:
  - oldrel
  - release
  - devel

before_install:
  - sudo apt-get install -y libsndfile1-dev
  - sudo apt-get install -y libfftw3-dev
